* {
   box-sizing: border-box;
  margin: 0;
  /* width: 1170px;
  margin-right: 170px;
  margin-left: 170px; */
     
  }

/* @font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
    url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-display: swap;
} */



@font-face {
  font-family: "Kaushan Script";
  src: url(../fonts/Kaushan_Script/Kaushan_Script/KaushanScript-Regular.woff2)
      format("woff2"),
    url(../fonts/Kaushan_Script/Kaushan_Script/KaushanScript-Regular.woff)
      format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat/Montserrat-Bold.woff2) format("woff2"),
    url(../fonts/Montserrat/Montserrat/Montserrat-Bold.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-Bold.woff) format("woff"), 
  src: url(../fonts/Raleway/Raleway-Bold.woff2) format("woff2");
  
font-display: swap;
} 

.container {
max-width: 1200px;
margin: 0 auto;
padding: 0 16px;
  

}

/* ---------HEADER------------------------------- */

.container_header {
position: relative;
max-width: 1200px;
margin: 0 auto;
padding: 0 16px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
   
}

.header__logo {
max-width: 100%;
height: auto;
}

.header__list{
display: flex;
padding: 1rem;
justify-content: space-between;
align-items: center;
position: absolute;
width: 100%;

}

.nav {
display: flex;
justify-content: flex-end;
}

.nav ul {
  flex: 1;
}

.nav__list {
height: 100%;
align-items: center;
display: flex;
list-style: none;
justify-content: flex-end;

}

.nav__link {
  font-family: Raleway;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 16px;
letter-spacing: 0em;
text-align: center;

}

.nav__list li{
  margin-right: 2rem;

}

.nav__list li:last-child {
  margin-right: 0;
}

.nav__list li:not(:last-child) {
  margin-right: 1rem;
}

.nav__list li::after {
  content: "";
  display: block;
  opacity: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 0, 85);
  transition: all 0, 0.3s ease;
}
.nav__list li:hover::after {
  opacity: 1;
}

.nav__link a {
  display: block;
  text-decoration: none;
  padding: 1rem 1.5rem;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav__link a:hover {
  color: rgb(199, 104, 27);
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button__img {
  width: 24px;
  height: auto;
}

.header__button {
   margin: 0 15px;
  background: transparent;
  border: none;
  cursor: pointer;
}


/* --------------------------HEADER END--------------- */



/* -----------------------SECTION 1 ------------------ */

.what_we_do {
    background-image: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
    ),
    url(../images/Rectangle_1.svg),
    url(../images/Rectangle2.svg);
    padding-top: 177px;
     margin: 0 auto;  
  }



  .CT {
  font-family: "Kaushan Script";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-top: 77px;
 

  
}
.WtM {
  font-family: "Montserrat";
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 117px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  width: 70%;
  margin: auto;
}

.WtM::after {
  content: "";
  display: block;
  width: 25%;
  height: 3px;
  margin: 30px auto;
  background-color: #fff;
}


/* .line {
  border-bottom: 4px solid rgb(243, 239, 239);
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  padding-top: 44px;
} */

.what_we_do_button {
  margin: 2.5rem auto;
  border: 3px solid #fff;
  display: block;
  text-align: center;
  padding: 1.2rem 6rem;
  margin: ;
  font-size: 1.5rem;
  color: #fff;
  font-family: "Raleway";
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.1s linear, color 0.1s linear;


}

.what_we_do_button:hover {
  background-color: #fff;
  color: #e4be8d;
}

.what_we_do_button:active {
  background-color: #fff;
  color: #e4be8d;
  border-color: #e4be8d;
}


/* .list2{
height: 100%;
    align-items: center;
display: flex;
list-style: none;

justify-content: space-evenly;


font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 21px;
letter-spacing: 0em;
text-align: left;

}

.list2 li {
   text-align: center;
display: inline-block;
padding: 40px;
width: 20%;
margin-top: 50px;
 text-decoration: none;
} */

.wwd_bottom_part {
  margin-top: 100px;
}

.wwd_bottom_part_content {
  display: flex;
  justify-content: space-between;
}

.wwd_bottom_part_box {
  position: relative;
  cursor: pointer;
  flex: 1;
  padding: 1.5rem 0;
  color: #f9efcf;
  text-transform: uppercase;
  /* border-top: 3px solid #f9efcf */
}

.wwd_bottom_part_box:not(last-child) {
  margin-right: 2rem;
}

.wwd_bottom_part_box:hover {
  color: #fff;
  transition: all 0.3s ease;

}

.wwd_bottom_part_box:hover:after {
  
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 10;
  display: block;
  width: 50%;
  height: 3px;
  background: #f38281;

}

.wwd_bottom_part_text {

  
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-transform: uppercase;
margin-left: 5px;


}

.wwd_bottom_part_num {

font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 21px;
display: flex;
align-items: center;
text-transform: uppercase;

}


/* --------------------------SECTION 1 END ----------- */

.section2{
  /* max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 148px; */
}

.img {
  display: flex;
justify-content: center;
margin-bottom: 58px;
}

.img_img {
  position: relative;
  
}

.img_img:not(:last-child) {
  margin-right: 1rem;
}


.img:hover .img_hover {
opacity: 1;
}

.img_hover {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.section2 p {
  margin-bottom: 58px;
}

.section3 {
background-color: #95E1D3;
display: flex;
justify-content: center;
max-width: 1200px;
  margin: 0 auto;
  /* margin-top: 150px; */
}

.section4 {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 91px;
}

.section5 {
  /* max-width: 1200px; */
  margin: 0 auto;
  margin-bottom: 1px;
  background-image: url(/images/MoGo/mount.svg),
  url(/images/MoGo/mount2.svg);
  background-size: 100%;
  
}

.ipadiphone {
  margin-top: 83px;
  
display: flex;
flex: 1;
justify-content: center;
position: relative;
}

.backgroundipad{
  
  /* max-width: 659px;
  max-height: 494px; */
  border: 20px solid #0f1111e3;
  border-radius: 20px;
  /* left: 750px;
  top: 0px; */
}

.iphone{
  position: absolute;
        right: 725px;
    bottom: -73px;
  /* max-width: 200px;
  max-height: 412px; */
  
  /* left: 0px;
  top: 310px; */

  
}

.section6 {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 87px;
}

.section7 {
  background: #F8F8F8;
  /* display: flex;
  justify-content: center; */
}

.slide_menu {
display: flex;
justify-content: center;
}

.section7 button {
  width: 29px;
}

.ico_chat {
width: 115px;
}





.hs1 {
font-family: Kaushan Script;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: center;
padding-top: 28px;
}

.hs2 {
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
padding-top: 28px;

}

.lorem {
font-family: Raleway;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
margin-top: 48px;
}





.blocks {
  display: flex;
  flex-wrap: wrap;
}



.blocks__image {
  flex: 1;
  position: relative;
}



.images3 {
display: flex;
justify-content: space-between;
padding: 3rem;
}



.block {
  display: inline-block;
  padding-top: 60px;
  padding-right: 20px;
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 50px;
    
}

.blocktext {
  font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

}

.blocklorem{
  font-family: Raleway;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
margin-top: 48px;
padding-top: 30px;
}

.blockimg {
float: left;
}

.meetourteam{
  display: flex;
  justify-content: center;
  margin-bottom: 58px;
}

.hsline {
  border-bottom: 4px solid rgb(238, 154, 154);
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  padding-top: 30px;

}

.imgLine {
  display: center;
  margin-left: auto;
  margin-right: auto;
}

.img_3 {
display: inline-block;
width: auto;
}

.baw {
  /* max-width: 1200px;
  background-color: #F8F8F8;
display: flex;

justify-content: center;
    align-items: center;
    align-content: center; */
}

.baw_img {
  background: #F8F8F8;;
  text-align: center;
     width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
    margin-left: auto;
  margin-right: auto;
}

.baw img {
 
}

.some_of_our_work_img{
  display: flex;
}

.some_of_our_work_img3{
  display: flex;

}

.some_of_our_work_img4{
  display: flex;
}
.img_7 {
  display: flex;
}

.happyC {
background-image: url("../css/images/happyCbackground.svg");
display: inline-block;
}

/* .hr1 {
  position: absolute;
  width: 115.28px;
  height: 0px;
  left: 454.36px;
  top: 455.04px;
}

.hr2 {
  position: absolute;
  width: 148px;
  height: 0px;
  left: 438px;
  top: 878px;

  border: 4px solid #f38281;
} */


.list1 {
  text-align: center;
  display: inline-block;
  width: 25%;
}
.wwd {
  /* height: 66.91399383544922px;
  width: 978.6171875px;
  left: 27.709945678710938px;
  top: 723px;
  border-radius: nullpx;
  Font family: Kaushan Script;
Font style: Regular;
Font size: 24px;
Line height: 35px;
Line height: 100%;
Align: Center;
Vertical align: Center; */
display: flex;
}

.wwdblock1 {
  border: 2px solid black;
  display: flex;
}

.wwdblock2 {
border: 2px solid black;
display: flex;
flex-wrap: nowrap;
flex-direction: column;
}

.wwdblock21 {
border: 2px solid black;
display: flex;

}

.wwdblock22 {
border: 2px solid black;
display: flex;

}
.wwdblock23 {
border: 2px solid black;
display: flex;
}





