* {
   box-sizing: border-box;
  margin: 0;
 
     
  }

/* @font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
    url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-display: swap;
} */



@font-face {
  font-family: "Kaushan Script";
  src: url(../fonts/Kaushan_Script/Kaushan_Script/KaushanScript-Regular.woff2)
      format("woff2"),
    url(../fonts/Kaushan_Script/Kaushan_Script/KaushanScript-Regular.woff)
      format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat/Montserrat-Bold.woff2) format("woff2"),
    url(../fonts/Montserrat/Montserrat/Montserrat-Bold.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-Bold.woff) format("woff"), 
  src: url(../fonts/Raleway/Raleway-Bold.woff2) format("woff2");
  
font-display: swap;
} 

.container {
max-width: 1200px;
margin: 0 auto;
padding: 0 16px;
  

}

/* ---------HEADER------------------------------- */

.container_header {
position: relative;
max-width: 1200px;
margin: 0 auto;
padding: 0 16px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
   
}

.header__logo {
max-width: 100%;
height: auto;
}

.header__list{
display: flex;
padding: 1rem;
justify-content: space-between;
align-items: center;
position: absolute;
width: 100%;

}

.nav {
display: flex;
justify-content: flex-end;
}

.nav ul {
  flex: 1;
}

.nav__list {
height: 100%;
align-items: center;
display: flex;
list-style: none;
justify-content: flex-end;

}

.nav__link {
  font-family: Raleway;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 16px;
letter-spacing: 0em;
text-align: center;

}

.nav__list li{
  margin-right: 2rem;

}

.nav__list li:last-child {
  margin-right: 0;
}

.nav__list li:not(:last-child) {
  margin-right: 1rem;
}

.nav__list li::after {
  content: "";
  display: block;
  opacity: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(255, 0, 85);
  transition: all 0, 0.3s ease;
}
.nav__list li:hover::after {
  opacity: 1;
}

.nav__link a {
  display: block;
  text-decoration: none;
  padding: 1rem 1.5rem;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav__link a:hover {
  color: rgb(199, 104, 27);
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button__img {
  width: 24px;
  height: auto;
}

.header__button {
   margin: 0 15px;
  background: transparent;
  border: none;
  cursor: pointer;
}


/* --------------------------HEADER END--------------- */



/* -----------------------SECTION 1 ------------------ */

.mogo {
    background-image: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
    ),
    url(../images/Rectangle_1.svg),
    url(../images/Rectangle2.svg);
    padding-top: 177px;
     margin: 0 auto;  
  }



  .CT {
  font-family: "Kaushan Script";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-top: 77px;
 

  
}
.WtM {
  font-family: "Montserrat";
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 117px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  width: 70%;
  margin: auto;
}

.WtM::after {
  content: "";
  display: block;
  width: 25%;
  height: 3px;
  margin: 30px auto;
  background-color: #fff;
}


/* .line {
  border-bottom: 4px solid rgb(243, 239, 239);
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  padding-top: 44px;
} */

.mogo__button {
  margin: 2.5rem auto;
  border: 3px solid #fff;
  /* display: block; */
  text-align: center;
  padding: 1.2rem 3rem;
  width: 400px;
  
  font-size: 1.5rem;
  color: #fff;
  font-family: "Raleway";
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.1s linear, color 0.1s linear;


}

.mogo__button:hover {
  background-color: #fff;
  color: #e4be8d;
}

.mogo__button:active {
  background-color: #fff;
  color: #e4be8d;
  border-color: #e4be8d;
}

.mogo__bottom_part {
  margin-top: 100px;
}

.mogo__bottom_part_content {
  display: flex;
  justify-content: space-between;
}

.mogo__bottom_part_box {
  position: relative;
  cursor: pointer;
  flex: 1;
  padding: 1.5rem 0;
  color: #f9efcf;
  text-transform: uppercase;
  /* border-top: 3px solid #f9efcf */
}

.mogo__bottom_part_box:not(last-child) {
  margin-right: 2rem;
}

.mogo__bottom_part_box:hover {
  color: #fff;
  transition: all 0.3s ease;

}

.mogo__bottom_part_box:hover:after {
  
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 10;
  display: block;
  width: 50%;
  height: 3px;
  background: #f38281;

}

.mogo__bottom_part_text {

  
font-family: "Raleway";
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-transform: uppercase;
margin-left: 5px;


}

.mogo__bottom_part_num {

font-family: "Raleway";
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 21px;
display: flex;
align-items: center;
text-transform: uppercase;

}


/* --------------------------SECTION 1 END ----------- */

/* ----------------------4 all sections ----------------- */

.section__content {
  margin: 1rem auto 5rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.section__head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #2d3033;

}

.section__subtitle {
  flex: 1;
  padding: 1rem 0;
  text-align: center;
  
  
font-family: Kaushan Script;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 44px;
letter-spacing: 0em;
text-align: center;

}

.section__title {
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  
  line-height: 1.2;
 font-family: Raleway;
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: 42px;
letter-spacing: 0em;



}

.section__title:after {
  content: "";
  display: block;
  width: 170px;
  height: 3px;
  margin: 30px auto;
  background-color: #f38181;
  
}

.section__paragraph {
  padding: 1rem 0 2rem;
  font-family: "Raleway";
  font-size: 1.125rem;
  line-height: 1.15;
  text-align: center;
}


/* --------------------section 2----------------- */




.section2{
  /* max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 148px; */
}

.img__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem auto;

}

.img {
  display: flex;
justify-content: center;
margin-bottom: 58px;
}

.img_img {
  position: relative;
  display: flex;
  
  
}

.img_img:not(:last-child) {
  margin-right: 1rem;
}


.img_img:hover .img_hover {
opacity: 1;
}

.img_hover {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  opacity: 0;
  transition: all 0.5s ease-in-out;
}


/* --------------section 3 ---------------- */

.turquoise_section {
background-color: #95E1D3;
}

.turquoise_section_content {

color: #fff;
display: flex;
justify-content: space-between;
align-items: center;

}

.turquoise_section__box {
  flex: 1;
  padding: 4% 0;
  border-left: 2px solid #fff;
  text-align: center;

}

.turquoise_section__box:last-child {
 border-right: 2px solid #fff;;
  
}


.turquoise_section__num {
font-family: Raleway;
font-size: 64px;
font-weight: bold;
line-height: 1.15;
padding-bottom: 16px;


}

.turquoise_section__text {
  font-family: Raleway;
font-size: 24px;
line-height: 1.15;




}

/* ----------------section 4 -------------- */

.section4 {
  /* max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 91px; */
}

.blocks {
  display: flex;
  flex-wrap: wrap;
}



.blocks__image {
  flex: 1;
  position: relative;
}



.images3 {
display: flex;
justify-content: space-between;
padding: 3rem;
}



.blocks {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
    
}

.block {
  flex: 1;
  margin: 48px auto;
  flex-basis: 30%;
  display: flex;
  align-items: center;

  

}

.block__text {
font-family: "Raleway";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px;
padding: 0 0 1rem 1rem;
line-height: 1.15;
text-transform: uppercase;
text-align-last: left;



}

.block__lorem{
  font-family: "Raleway";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
padding: 10px 0 1rem 1rem;
font-size: 1.125rem;
text-align: left;

}

.block__img {
  min-width: 64px;

}







/* --------------------section 5 ---------- */
.unique_design {
  /* max-width: 1200px; */
  margin: 0 auto;
  margin-bottom: 1px;
  background-image: url(/images/MoGo/mount.svg),
  url(/images/MoGo/mount2.svg);
  background-size: 100%;
  
}

.ipadiphone {
  display: flex;
  justify-content: center;
position: relative;
}

.ipad {

}

.backgroundipad{
  border: 20px solid #0f1111e3;
  border-radius: 20px;
 
}

.iphone{
   position: absolute;
   top: 40%;
   left: 50%;
   /* width: 100%; */
   height: 100%;
   transform: translateX(100%);
  

  
}



/* --------------------section6--------------- */


.section6 {


}

.wwdblock1 {
  border: 2px solid black;
  display: flex;
}

.wwdblock2 {
border: 2px solid black;
display: flex;
flex-wrap: nowrap;
flex-direction: column;
}

.wwdblock21 {
border: 2px solid black;
display: flex;

}

.wwdblock22 {
border: 2px solid black;
display: flex;

}
.wwdblock23 {
border: 2px solid black;
display: flex;
}










/* -----------------section 7 ---------------- */
.section7 {
  background: #F8F8F8;
  /* display: flex;
  justify-content: center; */
}

.slide_menu {
display: flex;
justify-content: center;
}

.section7 button {
  width: 29px;
}

.ico_chat {
width: 115px;
}





.hs1 {
font-family: Kaushan Script;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: center;
padding-top: 28px;
}

.hs2 {
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
padding-top: 28px;

}

.lorem {
font-family: Raleway;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
margin-top: 48px;
}






.meetourteam{
  display: flex;
  justify-content: center;
  margin-bottom: 58px;
}

.hsline {
  border-bottom: 4px solid rgb(238, 154, 154);
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  padding-top: 30px;

}

.imgLine {
  display: center;
  margin-left: auto;
  margin-right: auto;
}

.img_3 {
display: inline-block;
width: auto;
}

.baw {
  /* max-width: 1200px;
  background-color: #F8F8F8;
display: flex;

justify-content: center;
    align-items: center;
    align-content: center; */
}

.baw {
  background: #F8F8F8;;
}
.baw_img {
  
  text-align: center;
     width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
    margin-left: auto;
  margin-right: auto;
}

.baw img {
 
}

.some_of_our_work_img{
  display: flex;
}

.some_of_our_work_img3{
  display: flex;

}

.some_of_our_work_img4{
  display: flex;
}
.img_7 {
  display: flex;
}

.happyC {
background-image: url("../css/images/happyCbackground.svg");
display: inline-block;
}

/* .hr1 {
  position: absolute;
  width: 115.28px;
  height: 0px;
  left: 454.36px;
  top: 455.04px;
}

.hr2 {
  position: absolute;
  width: 148px;
  height: 0px;
  left: 438px;
  top: 878px;

  border: 4px solid #f38281;
} */


.list1 {
  text-align: center;
  display: inline-block;
  width: 25%;
}
.wwd {
  /* height: 66.91399383544922px;
  width: 978.6171875px;
  left: 27.709945678710938px;
  top: 723px;
  border-radius: nullpx;
  Font family: Kaushan Script;
Font style: Regular;
Font size: 24px;
Line height: 35px;
Line height: 100%;
Align: Center;
Vertical align: Center; */
display: flex;
}







